@page
@model MyApp.Namespace.HomepageModel
@{
    ViewData["Title"] = "Espresso Love";
}
<!DOCTYPE html>
<html lang= "en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>

<body>
<header class = "header">
    <img src="/images/EspressoLove.png" alt="Espresso Love Logo" class="logo">
</header>
    <div class="containerHome">

        <div class="info-box">
            <h3>Deal of the Day</h3>
            <p>@Model.DealofTheDay</p>

            <h3>Business Hours</h3>
            <p>@Model.BusinessHours</p>

         <a href= "/Menu" class="placeOrder-btn">Place Order</a>
        </div>
    </div>
    <div class= "nav-btns">
        <a href="/Menu" class="menu-btn">Menu</a>
        <a href= "/MyRewards" class="myRewards-btn">My Rewards</a>
    </div>
</body>

</html>
