@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> Welcome to Espresso Love! We care about our customers and their private information. Don't worry, we are protecting your private information. </p>
